NEXT_PUBLIC_SUPABASE_URL=https://xbgtruldcucekigbcybc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_K5ZJIHQ1lMXBKgcjfCvKJA_psAWby5M
NEXT_PUBLIC_ADMIN_EMAIL=admin@xaryab.com
NEXT_PUBLIC_ADMIN_PASSWORD=admin123
NEXT_PUBLIC_YOUTUBE_API_KEY=your_youtube_api_key_here
CRON_SECRET=your_cron_secret_here
